<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= t('doorkeeper.layouts.application.title') %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'application' %>
  <%= vite_javascript_tag 'application' %>
</head>
<body>
  <!-- Yield the main content without any navigation or wrapper -->
  <%= yield %>
</body>
</html>
